/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <behaviors/num_word.dtsi>
#include "zmk-helpers/helper.h"

#define DEF 0
#define LOW 1
#define UPR 2
#define NUM 3
#define GAME 4

// COMBOS
// ╭──────┬──────┬──────┬──────┬──────┬──────╮  ╭──────┬──────┬──────┬──────┬──────┬──────╮
//    00     01     02     03    04      05        06     07     08     09     10     11
// ├──────┼──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┼──────┤
//    12     13     14     15    16      17        18     19     20     21     22     23
// ├──────┼──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┼──────┤
//    24     25     26     27    28      29        30     31     32     33     34     35
// ╰──────┴──────┴──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┴──────┴──────┴──────╯
//                         36     37     38        39     40
//                      ╰──────┴──────┴──────╯  ╰──────┴──────╯

/ {
    macros {
        alt_shift: alt_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp LSHFT>
                , <&macro_release &kp LALT>
                ;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        // togle game layer by pressing ESC and BCKSPC
        togle_game_layer {
            timeout-ms = <50>;
            key-positions = <0 11>;
            bindings = <&tog GAME>;
            layers = <0 4>;
        };
        // enable numbers layers
        enable_num_layer {
            timeout-ms = <50>;
            key-positions = <38 39>;
            bindings = <&num_word NUM>;
            layers = <0>;
        };
        // reset bluetooth settings
        reset_bluetooth {
            timeout-ms = <50>;
            key-positions = <30 34>;
            bindings = <&bt BT_CLR>;
            layers = <0>;
        };
        // reset bluetooth settings
        switch_language {
            timeout-ms = <50>;
            key-positions = <36 24>;
            bindings = <&alt_shift>;
            layers = <0>;
        };
    };
};

&lt {
    tapping-term-ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };


// todo: create a macro that switch language on alt + shift press

// todo: configure sticky layers to nums. if layer is enabled let it be until another key besides numbers are pressed
// todo: make a game layer

    keymap {      
        compatible = "zmk,keymap";
        
        default_layer {
            display-name = "BASE";
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |      |  Y  |  U   |  I  |  O  |  P  | BSPC |
// |  TAB |  A  |  S  |  D  |  F  |  G  |      |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |      |  N  |  M   |  ,  |  .  |  /  | SHTT |
//                    | GUI | LWR | SPC |      | ENT | RSE  | ALT |
            bindings = <
   &kp ESC   &kp Q        &kp W        &kp E            &kp R           &kp T           &kp Y           &kp U       &kp I         &kp O        &kp P          &kp BSPC
   &kp TAB   &hm LGUI A   &hm LSHIFT S &hm LALT D       &hm LCTRL F     &kp G           &kp H           &hm RCTL J  &hm RALT K    &hm RSHIFT L &hm RGUI SEMI  &kp SQT
   &kp LSHFT &kp Z        &kp X        &kp C            &kp V           &kp B           &kp N           &kp M       &kp COMMA     &kp DOT      &kp FSLH       &kp RSHFT
                                       &kp LGUI         &mo LOW         &lt NUM SPACE   &lt NUM RET     &mo UPR     &kp LALT
            >;
        };
        lower_layer {
            display-name = "LOW";
// -----------------------------------------------------------------------------------------
// |      |     | HOME|  UP | END |PG_UP|      | BT0 | BT1 | BT2 | BT3 | BT4 | BTCLR|
// |      |     | LFT | DWN | RGT |PG_DN|      |  F1 | F2  | F3  | F4  | F5  | F6   |
// |EP_TOG|     | C+LF| INS | C+RT| DEL |      |  F7 | F8  | F9  | F10 | F11 | F12  |
//                    |     |     | SPC |      | ENT |     | ALT |
            bindings = <
   &none        &none        &kp HOME       &kp UP       &kp END       &kp PG_UP        &kp F7          &kp F8          &kp F9       &kp F10      &kp F11      &kp F12
   &none        &none        &kp LEFT       &kp DOWN     &kp RIGHT     &kp PG_DN        &kp F1          &kp F2          &kp F3       &kp F4       &kp F5       &kp F6
   &kp LSHFT    &none        &kp LC(LEFT)   &kp INS      &kp LC(RIGHT) &kp DELETE       &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &kp RSHFT 
                                            &none        &none         &none            &none           &none           &none     
            >;
        };

        raise_layer {
            display-name = "UP";
// -----------------------------------------------------------------------------------------
// |    `   |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      |
// |        |  ~  |  (  |  -  |  )  |     |   |     |  [  |  _  |  ]  | "|" |      |
// |        |     |  <  |  =  |  >  |     |   |     |  {  |  +  |  }  |  \  |      |
//                      |     |     |     |   |     |     |     |
            bindings = <
   &kp GRAVE   &kp EXCL   &kp AT    &kp HASH    &kp DLLR  &kp PRCNT      &kp CARET &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR  &none
   &none       &kp TILDE  &kp LPAR  &kp MINUS   &kp RPAR  &none          &none     &kp LBKT  &kp UNDER  &kp RBKT  &kp PIPE  &none
   &none       &none      &kp LT    &kp EQUAL   &kp GT    &none          &none     &kp LBRC  &kp PLUS   &kp RBRC  &kp BSLH  &none
                                    &none       &none     &none          &none     &none     &none
            >;
        };

        nums_layer {
            //dispay-name = "NUMS";    // see https://zmk.dev/docs/config/keymap#devicetree
// -----------------------------------------------------------------------------------------
// |        |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// |        |     |     |     |     |     |   |     |     |     |     |     |      |
// |        |     |     |     |     |     |   |     |     |     |     |     |      |
//                      |     |     |     |   |     |     |     |
            bindings = <
   &trans   &kp N1     &kp N2   &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8    &kp N9  &kp N0  &trans
   &none    &none      &trans   &none       &trans      &none       &none       &none       &none     &none   &none   &none
   &none    &none      &none    &none       &none       &none       &none       &none       &trans    &trans  &none   &none
                                &none       &trans      &trans      &trans      &trans      &none
            >;
        };
        game_layer {
            //display-name = "GAME";
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |      |  Y  |  U   |  I  |  O  |  P  | BSPC |
// |  TAB |  A  |  S  |  D  |  F  |  G  |      |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |      |  N  |  M   |  ,  |  .  |  /  | SHTT |
//                    | CTRL| LWR | SPC |      | ENT | RSE  | ALT |
            bindings = <
   &kp ESC   &kp Q      &kp W       &kp E       &kp R       &kp T               &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC
   &kp TAB   &kp A      &kp S       &kp D       &kp F       &kp G               &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
   &kp LSHFT &kp Z      &kp X       &kp C       &kp V       &kp B               &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp RSHFT
                                    &kp LCTRL   &mo LOW     &lt 3 SPACE         &lt 3 RET   &mo UPR     &kp LALT
            >;
        };

    };
};


